.heading--secondary {
  font-size: $heading-small;
  letter-spacing: 1px;
  font-weight: 500;
}

.heading--primary {
  font-size: $heading-big;
  letter-spacing: 1px;
  font-weight: 400;
}

.paragraph--normal {
  font-size: $text-medium;
}

.paragraph--small {
  font-size: $text-small;
}
